
@model Blog.Models.User
@{
    string imagePath = "default-avatar.png";
}
@if (!string.IsNullOrWhiteSpace(Model.Avatar))
{
    imagePath = Model.Avatar;
}
<div class="container text-center">
    <div class="container list-group-horizontal">
        <img src="~/images/@imagePath"
             class="rounded-circle"
             height="120" width="120"
             asp-append-version="true" />
        <h1>@Model.Username</h1>
    </div>

    <div class="container">
        @if (ViewBag.Posts.Count == 0)
        {
            <div class="row m-3 text-center">
                <label class="text-center">There are no posts</label>
            </div>
        }

                @foreach (var item in ViewBag.Posts)
                {
                    <div class="row m-3">
                        <div class="card col-sm-6 mx-auto" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text text-left">@item.Text</p>
                                @item.Likes likes
                                <form action="/User/Like/@item.Id">
                                    <button type="submit" class="btn btn-outline-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                                        </svg>
                                        Like
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

