@{
    Layout = "_NonAuthorizedLayout";
}
<div class="container text-center">
    <div class="container">

        <div class="row m-3">
            <div class="col mx-auto my-auto">
                <div class="display-1">Welcome to Blog</div>
            </div>
        </div>
        @*<button type="button" action="/Home/SignUp" class="btn btn-primary">Sign Up</button>
        Or
        <button type="button" action="/Home/SignIn" class="btn btn-primary">Sign In</button>*@
        <div class="row m-3">
            <div class="col mx-auto my-auto">
                <a href="/Home/SignUp">Sign Up</a>
            </div>
        </div>
        <div class="row m-3">
            <div class="col mx-auto my-auto">
                <a href="/Home/SignIn">Sign In</a>
            </div>
        </div>
    </div>
</div>
